---
BraceWrapping:
  AfterCaseLabel: false
  IndentBraces: false
  AfterFunction: false
  AfterNamespace: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: true
  BeforeLambdaBody: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
UseTab: Never
TabWidth: 4
Standard: c++20
IndentWidth: 4
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: true
NamespaceIndentation: All
SpaceBeforeParensOptions:
  BeforeNonEmptyParentheses: true
  AfterControlStatements: true
  AfterForeachMacros: true
  AfterFunctionDeclarationName: true
  AfterFunctionDefinitionName: true
  AfterIfMacros: true
  AfterOverloadedOperator: true
  AfterRequiresInClause: true
  AfterRequiresInExpression: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesInAngles: Never
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
SpaceBeforeParens: ControlStatements
ReferenceAlignment: Left
PointerAlignment: Left
SortIncludes: CaseInsensitive
AlignConsecutiveAssignments: {}
AlignArrayOfStructures: Left
AlignEscapedNewlines: Left
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations: MultiLine
BreakBeforeBraces: Custom
Language: Cpp
LineEnding: LF
QualifierAlignment: Left
RemoveSemicolon: true
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
IndentGotoLabels: false
LambdaBodyIndentation: OuterScope
ColumnLimit: 0
MaxEmptyLinesToKeep: 2

BreakBeforeBinaryOperators: All
PackConstructorInitializers: Never
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AlignAfterOpenBracket: BlockIndent
